
/*PAGE ACCUEIL - 9 DESTINATIONS*/

.flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.bg{
	height:17vh;
	padding:5px;
	width:auto;
	max-width:350px;
	color:white;
	margin-top:59%;
	font-size:1.3em;
	background-color: rgb(8,129,209,0.75);

}

.bg1, .bg2, .bg3{
	background-position: cover;
	background-repeat: no-repeat;
	height:50vh;
	width: auto;
}

.bg1{
	background-image: url(../img/londres2.png);
}

.bg2{
	background-image: url(../img/paris2.png);
}

.bg3{
	background-image: url(../img/venise2.png);
}



/*ZOOM SUR IMAGE*/

.bg1,.bg2,.bg3:hover,{
	transform: scale(1.1);
	transition: 1.5s;
}

@media screen and (max-width: 750px) {

	.destination{ flex-direction: column;}
	.carre{height:85vw;}
}
