body{
	margin:0 auto;
	font-family: 'Jost*', Ubuntu, sans-serif;
	font-size:1em;
}

header{
	background-color: #EBEBEB;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}

.header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}

.logo{
	height: 10vw;
	width: auto;
}

ul {
    list-style-type: none;
}

li{
	margin:0.5em;
	display : inline;
	padding:0.5em;
	padding-left:2em;
	padding-right: 2em;
	background-color:#6B00FF;
	border-radius: 0.3em;
	font-weight: bold;
	font-size:1.2em;
}

li:hover{background-color:#8018CD; cursor: pointer;}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color:white;
}

h1{
	text-transform: uppercase;
	color: #6B00FF;
	font-size:6vh;
	margin-left:2%;
}

.avotreservice{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: #ebebeb;
	text-align: center;
	color:#6B00FF;
	margin-left:2%;
	margin-right: 2%;
}

.transport{
	width:40vw;
	height: auto;
	min-width:250px;
	font-weight: bold;
	font-size:4vh;
}

@media screen and(max-width: 1000px;){

	ul{
		display: none;
	}
}